<div class="row">
  <div class="col-12">
    <!-- <div>
      <h1>Sarah Kortney</h1>
      <div class="text-zero top-right-button-container">
        <div dropdown>
          <button id="button-basic" dropdownToggle type="button" placement="bottom right"
            class="btn btn-outline-primary dropdown-toggle btn-lg"
            aria-controls="dropdown-basic">{{ 'pages.actions' | translate }} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
            aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{ 'pages.action' | translate }}</a></li>
            <li role="menuitem"><a class="dropdown-item"
                href="javascript:;">{{ 'pages.another-action' | translate }}</a></li>
          </ul>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
    </div> -->

    <div>
      <tabset class="separator-tabs">
        <tab heading="Find Works">
          <div class="row">
              <div class="col-12 col-lg-3 mb-4">
                <app-bid-query></app-bid-query>
              </div>
              <div class="col-12 col-lg-9">
                    <app-bidding-project></app-bidding-project>
                <!-- <div class="sortable-survey" [sortablejs]="[1,2,3,4]" [sortablejsOptions]="{ handle: '.drag' }">
                  <p>Questions</p>
                  <app-question-builder *ngFor="let item of currentSurvey.questions; let i=index" [question]="item"
                    [sort]="i+1"></app-question-builder>
                </div>
                <div class="text-center">
                  <button class="btn btn-outline-primary mt-3" (click)="addNew()"><i
                      class="simple-icon-plus btn-group-icon"></i>
                    {{ 'survey.add-question' | translate }}</button>
                </div> -->
              </div>
            </div>
        </tab>
        <tab heading="Find Talents">
          <!-- <app-profile-friends></app-profile-friends> -->
        </tab>
      </tabset>
    </div>
  </div>
</div>
