<!-- <ng-template #template> -->
<div>
  <!-- <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ "pages.add-new-modal-title" | translate }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <!-- <div class="card mb-4"> -->
      <div class="position-absolute card-top-buttons" style="margin-right: -0px;margin-top: -0px;">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <button class="btn btn-outline-white icon-button" (click)="edit()">
          <i class="simple-icon-pencil"></i>
        </button> -->
      </div>
      <tabset class="separator-tabs">
        <tab heading="Project">
          <div class="row">
            <app-project-dash-details [project]="project"></app-project-dash-details>
          </div>
        </tab>
        <tab heading="Bids">
          <app-project-bid-list [project]="project"></app-project-bid-list>
        </tab>
      </tabset>
      <!-- <img src="/assets/img/details/1.jpg" alt="Detail" class="card-img-top" />
      <div class="card-body">
        <p class="text-muted text-small mb-2">
          {{ "pages.description" | translate }}
        </p>
        <p class="mb-3">
          {{ project.description }}
        </p>
        <p class="text-muted text-small mb-2">
          {{ "pages.rating" | translate }}
        </p>
        <div class="mb-3">
          <rating
            [readonly]="true"
            [max]="5"
            [(ngModel)]="rate"
            [customTemplate]="ttt"
          ></rating>
          <ng-template #ttt let-index="index" let-value="value">{{
            index < value ? "" : ""
          }}</ng-template>
        </div>
        <p class="text-muted text-small mb-2">
          {{ "pages.price" | translate }}
        </p>
        <p class="mb-3">$8,14</p>
        <p class="text-muted text-small mb-2">Tags</p>
        <div class="mb-3">
          <p class="d-sm-inline-block mb-1">
            <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{
              "Flour" | uppercase
            }}</span>
            <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{
              "Chocolate" | uppercase
            }}</span>
            <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{
              "Caster Sugar" | uppercase
            }}</span>
            <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{
              "Baking Powder" | uppercase
            }}</span>
            <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{
              "Milk" | uppercase
            }}</span>
            <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{
              "Eggs" | uppercase
            }}</span>
            <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{
              "Vegetable Oil" | uppercase
            }}</span>
          </p>
        </div>
        <p class="text-muted text-small mb-2">
          {{ "pages.is-vegan" | translate }}
        </p>
        <p>No</p>
      </div> -->
    <!-- </div> -->
  </div>
  <!-- <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modalRef.hide()"
    >
      {{ "pages.cancel" | translate }}
    </button>
    <button type="submit" class="btn btn-primary float-right">
      {{ "pages.submit" | translate }}
    </button>
  </div> -->
</div>
<!-- </ng-template> -->
