<!-- <ng-template #template> -->
<form [formGroup]="projectForm" (ngSubmit)="saveToList(projectForm)">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ "pages.add-new-modal-title" | translate }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <aw-wizard [navBarLayout]="'large-empty-symbols'">
          <aw-wizard-step stepTitle="Client Info" style="min-height: 230px">
            <ng-template awWizardStepSymbol
              ><i class="simple-icon-user"></i
            ></ng-template>
            <div>
              <input
                hidden
                type="text"
                class="form-control"
                formControlName="id"
                name="name"
              />
              <div class="form-group">
                <label>{{ "forms.firstname" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="title"
                  name="name"
                />
              </div>
              <div class="form-group">
                <label>{{ "forms.lastname" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="category"
                  name="name"
                />
              </div>
              <div class="form-group">
                <label>{{ "client.nationalid" | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="description"
                  name="name"
                />
              </div>
              <!-- <div class="form-group">
                  <label>{{ "client.mobile" | translate }}</label>
                  <input type="text" class="form-control" name="name" />
                </div> -->
            </div>
            <div class="text-center">
              <button
                type="button"
                class="btn btn-outline-primary"
                awPreviousStep
                disabled
              >
                {{ "wizard.prev" | translate }}</button
              >{{ " " }}
              <button type="button" class="btn btn-outline-primary" awNextStep>
                {{ "wizard.next" | translate }}
              </button>
            </div>
          </aw-wizard-step>
          <aw-wizard-step stepTitle="Consumer Info" style="min-height: 230px">
            <ng-template awWizardStepSymbol
              ><i class="simple-icon-location-pin"></i
            ></ng-template>
            <div>
              <div class="form-group">
                <label>{{ "forms.city" | translate }}</label>
                <!-- <input type="text" class="form-control" name="name" /> -->
              </div>
              <div class="form-group">
                <label>{{ "forms.address" | translate }}</label>
                <!-- <textarea class="form-control" rows="2"></textarea> -->
              </div>
            </div>
            <div class="text-center">
              <button
                type="button"
                class="btn btn-outline-primary"
                awPreviousStep
              >
                {{ "wizard.prev" | translate }}</button
              >{{ " " }}
              <button type="button" class="btn btn-outline-primary" awNextStep>
                {{ "wizard.next" | translate }}
              </button>
            </div>
          </aw-wizard-step>
          <aw-wizard-step stepTitle="Provider Info" style="min-height: 230px">
            <ng-template awWizardStepSymbol
              ><i class="simple-icon-location-pin"></i
            ></ng-template>
            <div>
              <div class="form-group">
                <label>{{ "forms.city" | translate }}</label>
                <!-- <input type="text" class="form-control" name="name" /> -->
              </div>
              <div class="form-group">
                <label>{{ "forms.address" | translate }}</label>
                <!-- <textarea class="form-control" rows="2"></textarea> -->
              </div>
            </div>
            <div class="text-center">
              <button
                type="button"
                class="btn btn-outline-primary"
                awPreviousStep
              >
                {{ "wizard.prev" | translate }}</button
              >{{ " " }}
              <button type="button" class="btn btn-outline-primary" awNextStep>
                {{ "wizard.next" | translate }}
              </button>
            </div>
          </aw-wizard-step>
          <aw-wizard-step
            stepTitle="{{ 'wizard.done' | translate }}"
            style="min-height: 230px"
          >
            <ng-template awWizardStepSymbol
              ><i class="simple-icon-check"></i
            ></ng-template>
            <div class="text-center complete-message-centered">
              <h2 class="mb-2">{{ "wizard.content-thanks" | translate }}</h2>
              <p>{{ "wizard.registered" | translate }}</p>
            </div>
          </aw-wizard-step>
        </aw-wizard>
      </div>
    </div>

    <!-- <div>
          <label>{{ 'pages.product-name' | translate }}</label>
          <input type="email" class="form-control" placeholder="">
      </div>
      <div class="mt-4">
          <label>{{ 'pages.category' | translate }}</label>
          <label class="w-100">
              <ng-select appearance="outline" [searchable]="false">
                  <ng-option *ngFor="let item of categories" [value]="item.value">{{item.label}}
                  </ng-option>
              </ng-select>
          </label>
      </div>
      <div class="mt-4">
          <label>{{ 'pages.description' | translate }}</label>
          <textarea class="form-control" rows="3"></textarea>
      </div> -->
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modalRef.hide()"
    >
      {{ "pages.cancel" | translate }}
    </button>
    <button type="submit" class="btn btn-primary float-right">
      {{ "pages.submit" | translate }}
    </button>
  </div>
</form>
<!-- </ng-template> -->

<!-- 
<h5 class="mb-4">{{ 'wizard.icons' | translate }}</h5>
<div class="card">
  <div class="card-body">
    <aw-wizard [navBarLayout]="'large-empty-symbols'">
      <aw-wizard-step stepTitle="Client Info" style="min-height: 230px;">
        <ng-template awWizardStepSymbol><i class="simple-icon-user"></i></ng-template>
        <div>
          <div class="form-group">
            <label>{{ 'forms.firstname' | translate }}</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label>{{ 'forms.lastname' | translate }}</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label>{{ 'client.nationalid' | translate }}</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label>{{ 'client.mobile' | translate }}</label>
            <input type="text" class="form-control" name="name">
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" awPreviousStep disabled>{{ 'wizard.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Consumer Info" style="min-height: 230px;">
        <ng-template awWizardStepSymbol><i class="simple-icon-location-pin"></i></ng-template>
        <div>
          <div class="form-group">
            <label>{{ 'forms.city' | translate }}</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label>{{ 'forms.address' | translate }}</label>
            <textarea class="form-control" rows="2"></textarea>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Provider Info" style="min-height: 230px;">
        <ng-template awWizardStepSymbol><i class="simple-icon-location-pin"></i></ng-template>
        <div>
          <div class="form-group">
            <label>{{ 'forms.city' | translate }}</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label>{{ 'forms.address' | translate }}</label>
            <textarea class="form-control" rows="2"></textarea>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
          <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="{{ 'wizard.done' | translate }}" style="min-height: 230px;">
        <ng-template awWizardStepSymbol><i class="simple-icon-check"></i></ng-template>
        <div class="text-center complete-message-centered">
          <h2 class="mb-2">{{ 'wizard.content-thanks' | translate }}</h2>
          <p>{{ 'wizard.registered' | translate }}</p>
        </div>
      </aw-wizard-step>
    </aw-wizard>
  </div>
</div> -->
