<form [formGroup]="projectFormGroup" (ngSubmit)="saveProject()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Add Project
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
            <input hidden type="text" class="form-control"  />
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title" name="title"/>
            </div>
            <div class="form-group">
                <label>Estimated Time Effort</label>
                <input type="text" class="form-control" formControlName="estimatedTimeEffort" name="estimatedTimeEffort"/>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea type="text" class="form-control" formControlName="description" name="description"></textarea>
            </div>
            <!-- <div class="form-group">
                <label>Skills</label>
                <input type="text" class="form-control" formControlName="requiredSkills" name="skills"/>
            </div> -->

          <div class="col-12 col-lg-6 mb-4">
            <label><span>Skills</span></label>
            <ng-select formControlName="requiredSkills">
              <ng-option *ngFor="let skill of skills$ | async" [value]="skill.id">{{skill.name}}</ng-option>
            </ng-select>
          </div>
            <div class="form-group">
                <label>Expertise Level</label>
                <input type="text" class="form-control" formControlName="requiredExpertiseLevel" name="expertiseLevel"/>
            </div>
            <div class="form-group">
                <label>Payment Type</label>
                <input type="text" class="form-control" formControlName="estimatedBudget" name="paymentType"/>
            </div>
            <div class="form-group">
                <label>Category</label>
                <input type="text" class="form-control" formControlName="category" name="category"/>
            </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modalRef.hide()"
    >
      {{ "pages.cancel" | translate }}
    </button>
    <button type="submit" class="btn btn-primary float-right">
      {{ "pages.submit" | translate }}
    </button>
  </div>
</form>
