<form [formGroup]="projectFormGroup" (ngSubmit)="saveUser()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Add User
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
            <input hidden type="text" class="form-control"  />
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" name="name"/>
            </div>
            <div class="form-group">
                <label>Address</label>
                <textarea type="text" class="form-control" formControlName="address" name="address"></textarea>
            </div>
            <div class="form-group">
                <label>Photo</label>
                <input type="text" class="form-control" formControlName="identityPhoto" name="identityPhoto"/>
            </div>
            <div class="form-group">
                <label>Introduction</label>
                <input type="text" class="form-control" formControlName="providerIntroduction" name="providerIntroduction"/>
            </div>
            <div class="form-group">
                <label>Expertise Level</label>
                <input type="text" class="form-control" formControlName="expertiseLevel" name="expertiseLevel"/>
            </div>
            <div class="form-group">
                <label>Current Employment</label>
                <input type="text" class="form-control" formControlName="currentEmployment" name="currentEmployment"/>
            </div>
            <div class="form-group">
                <label>Hourly Rate</label>
                <input type="text" class="form-control" formControlName="hourlyRate" name="hourlyRate"/>
            </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modalRef.hide()"
    >
      {{ "pages.cancel" | translate }}
    </button>
    <button type="submit" class="btn btn-primary float-right">
      {{ "pages.submit" | translate }}
    </button>
  </div>
</form>
